DATABASE_URL=postgresql+asyncpg://neondb_owner:npg_6BIKnmluh8iN@ep-green-sunset-ap948id8-pooler.c-7.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require
SECRET_KEY=mySecretKeyForJWTTokenGenerationAndValidationPurposeOnly12345
ALGORITHM=HS256
ENVIRONMENT=development
AUTH_SERVICE_URL=https://authservice-ano4.onrender.com